@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Orbitron:wght@400..900&display=swap');

@media (max-width:992px){
  .main-page-sidebar {
  transform: translateX(-100%);
  position: fixed; 
  z-index: 1000;
	overflow-y: auto;
  }
  .main-page-sidebar.show {
  transform: translateX(0)
  }
  .main-page-sidebar:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 10px;
  float: right;
  margin-left: 5px;
  }
  .main-page {
  margin-left:0!important
  }
  .burger-menu {
  display: block;
  }
  .content-switch {
    padding: 0px 10px;
  }
}
@media (min-width:993px) {
  .burger-menu {
    display:none!important
  }
  .sidebar-button {
    display:none!important;
  }
  .content-title-big {
    padding-right: 300px;
  }
  .content-switch {
    padding-right: 300px;
  }
}
:root {
  --bg0: #FDF6E3;
  --bg3: #E6E2CC;
  --bg4: #E0DCC7;
  --bg5: #BDC3AF;
  --bg-dim: #EFEBD4;
  --bg_blue: #E9F0E9;
  --fg: #5C6A72;
  --red: #F85552;
  --orange: #F57D26;
  --yellow: #DFA000;
  --green: #8DA101;
  --blue: #3A94C5;
  --aqua: #35A77C;
  --gray1: #A6B0A0;
  --gray3: #829181;
  font-family: "Fira Sans", sans-serif;
  color: var(--fg);
}

.w3-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
html {
  /*overflow: auto;*/
}
h1 {
  font-size: 50;
}
h3 {
  margin: 0px;
}
body {
  background-color: var(--bg0);
  margin: 0px;
  height: 1500px;
}
.main-header {
  background-color: var(--bg-dim);
  padding-top: 1%;
  padding-bottom: 1%;
}
.main-page {
  vertical-align: middle;
  position: absolute;
  margin-left: 300px;
}
.main-page-sidebar {
  background-color: var(--bg-dim);
  height: 100vh;
  width: 300px;
  position: fixed;
  z-index: 1000;
  overflow-y: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.main-page-heading {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: var(--bg3);
  font-size: 30;
  z-index: 2
}
.main-page-item {
  font-size: 20;
  padding: 5%;
  width: auto;
  display: block;
  text-align: center;
  color: var(--fg);
  text-decoration: none;

  &:hover {
  background-color: var(--bg5);
  color: var(--bg0);

  }
}
.main-page-otazky {
  font-size: 14;
  text-align: left;
}
.main-page-first {
  background-color: var(--red);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.main-page-second {
  background-color: var(--orange);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.main-page-third {
  background-color: var(--yellow);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.main-page-fourth {
  background-color: var(--green);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.main-page-fifth {
  background-color: var(--blue);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.main-page-sixth {
  background-color: var(--aqua);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.accordion {
  cursor: pointer;
  border: none;
  outline: none;
}
.active {
  background-color: var(--bg5);
}
.panel {
  background-color: var(--bg-dim);
  color: var(--fg);
  text-decoration: none;
  display: none;
  overflow: hidden;
}
.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 10px;
  float: right;
  margin-left: 5px;
}
.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}
footer {
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: var(--gray3);
  color: var(--fg);
  display: block;
  z-index: 2;
}
.footer-block {
  display: inline-block;
  width: 30%;
}
.footer-item {
  display: inline-block;
}
.sidebar-button {
  position: absolute;
  left: 250;
  top: 22;
  z-index: 3; 
}

.content-title {
  color: var(--fg);
}
.burger-bar {
  background-color: var(--bg4);
  width: 100%;
  z-index: 1;
  overflow: hidden;
  top: 0;
  position: sticky;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.burger-button {
  text-decoration: none;
  position: sticky;
  color: var(--fg);
  min-width: 60px;
  text-align: center;
  border: none;
  font-size: 20;
  min-height: 30;
  transition-duration: 0.4s;
  &:hover {
    background-color: var(--gray3);
    color: var(--bg0);
    cursor: pointer;
  }
}
.burger-button-light {
  background-color: var(--bg5);
}
.burger-button-dark {
  background-color: var(--gray1);
}

.burger-div {
  z-index: 2;
  float: left;
  position: sticky;
}
.content {
  max-width: 960px;
  margin: auto;
}
.container {
  background-color: var(--bg-dim);
  max-width: 960px;
  border: 5px solid var(--bg-dim);
  border-radius: 15px;
  padding: 0px 10px;
  text-align: justify;
  font-size: 18;
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.h2 {
 margin-bottom: 0px; 
}


/* Style the list items */
ul li {
  padding: 12px 8px 12px 40px;
  position: relative;
  list-style-type: none;
  background: var(--bg0);
  font-size: 18px;
  width: 99%;
  margin-left: -40px;
  border: 3px solid var(--bg-dim);
  border-radius: 15px;
  
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
  background: var(--green);
  color: var(--bg0);
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: var(--bg0);
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}
.close-click {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.40);
  z-index: 5;
  height: 100%;
  width: 100%;
}
